# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Environment Variables
# ===============================
.env
backend/.env

# ===============================
# Virtual Environments
# ===============================
venv/
env/
.venv/

# ===============================
# Qdrant Local Storage
# ===============================
backend/qdrant_storage/
*.lock
*.sqlite
*.db

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# IDE
# ===============================
.vscode/
.idea/

.backend/
.app/
test_groq.py